*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: aliceblue;
    animation: header 2s ease-in-out;
}
@keyframes header {
    0%{
        transform: translateY(-100%);
    }
}

nav li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
}
.header span {
    width: 100%;
    background: aliceblue;
}
.logo{
    width: 100px;
    margin-left: 5%;
}
.main{
    width: 100%;
    display: flex;
}
.content{
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
    color: aliceblue;
    overflow: hidden;
    animation: content 2s ease-in-out;
}
@keyframes content {
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    
}
.content h1{
    font-size: 80px;
    margin-bottom: 1%;
    letter-spacing: 8px;

}
.content h3{
    font: size 25px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content span{
    color: aqua;
}
.content p{
    font-size: 20px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
button{
    padding: 15px 30px;
    background: transparent;
    color: aliceblue;
    font-size: 17px;
    border-radius: 10px;
}
button:hover{
    background: rgba(255, 10, 10,.7);
}
.image{
    width: 50%;
    margin-top: 5%;
    animation: image 2s ease-in-out;
}
@keyframes image {
    0%{
        opacity: 0%;
        transform: translateX(50%);
    }
}
img{
    width: 35rem;
}
@media screen and (max-width:1200px) {
    .content{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 50rem;
        position: absolute;
        bottom: -5%;
        display: flex;
        justify-content: center;
    
    }
    img{
        width:17rem ;
    }
}
@media screen and (max-width:576px) {
    .content{
        width: 100%;
        text-align: center;
    }
    .content h1{
        margin-bottom: 5%;
    }
    .image{
        width: 50rem;
        position: absolute;
        bottom: -5%;
        display: flex;
        justify-content: center;
    
    }
    img{
        width:17rem ;
    }
}